@font-face{
    font-family: SFpro regular;
    src: url(fonts/SF-Pro-Display-Regular.otf);
}

body {
    font-family: SFpro regular;
    background: white !important;
}
#twitter-logo{
    color: #2ba7f3 !important;
}

input {
    background: white !important;
}

.form-control:focus {
    box-shadow: none;
}

.btn:focus{
    box-shadow: none;
}

header {
    color:  #262d37 !important;
}

#navlinks{
    color: #262d37 !important; 
}

#side-icon {
    color: rgb(126, 121, 121) !important;
}

#side-bar {
    color: #262d37 !important;
}
login-btn{
    background: #2ba7f3 !important;
}

signup-btn{
    background: #2ba7f3 !important;
}

#tweet {
    color: #2ba7f3 !important;
}
#tweet-btn {
    background-color: #2ba7f3 !important;
}
.card {
    /* background: #262d37; */
    background: white;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid rgb(218, 204, 204);
}
#posted-tweet {
    color: #262d37;
}
#User-name {
    color: rgb(126, 121, 121);
}

#input-userName {
    background: transparent !important;
    border: transparent;
    color: #262d37 !important;
}

#input-displayName {
    background: transparent !important;
    border: transparent;
    color: #262d37 !important;
}
 textarea::placeholder {
     color: rgb(126, 121, 121) !important;
 }

 /* #login {
     border: 1px solid #262d37 !important;
 } */
span {
    color: #2ba7f3 !important;
}
img{
    object-fit: cover;
}

#display-name {
    color: #262d37;
}
#send-tweet {
    background-color: #2ba7f3 !important;
}

#welcome{
    color: #262d37;
}

#instruction {
    color: rgb(126, 121, 121);
}

#login-blue {
    background: #2ba7f3 !important;
}

#login-btn {
    background: #2ba7f3 !important;
}

input::placeholder {
    color: rgb(223, 210, 210);
    font-size: 14px;
}
#signup-logo {
    color: white !important;
}

#signup-btn {
    background: #2ba7f3 !important;
}

#header-img {
    background-color: #2ba7f3 !important;
}
#profile-img {
    background: black !important;
}

#ellipse {
    color: #2ba7f3 !important;
}

#envelope {
    color: #2ba7f3 !important;
}

#userName {
    color: grey !important;
}

#bio {
    color: rgb(48, 47, 47)!important;
}

#location-div {
    color: grey !important;
}
.tweet {
    color: #2ba7f3 !important;
}
#birthday-div {
    color: grey !important;
}

#suggestion {
    background: #badcf1 !important;
}
#list-suggest {
    color: grey !important;
}

#flw-btn {
    color: #2ba7f3 !important;
    border: 1px solid #2ba7f3 !important;
}
#next-btn {
    background: #2ba7f3 !important;
}